.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#drum-machine {
  width: 800px;
  height: auto;
  margin: auto;
}

@media (max-width: 800px) {
  #drum-machine {
    width: 500px;
  }
}

.drum-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px;
  padding: 5px;
}

.drum-pad {
  background-color: #222;
  color: white;
  border: 3px solid #000;
  padding: 10px;
  margin: 2px;
  font-size: 2em;
}

.drum-pad:hover {
  background-color: rgb(126, 40, 172)
}

.display {
  background-color: #222;
  color: white;
  width: 300px;
  height: 100px;
  margin: auto;
  margin-top: 10px;
  border: 3px solid #000;
  padding: 10px;
  font-size: 2em;
  text-align: center;
}
